/*p{*/
/*    <span style="color:red">Technoblade</span>*/
/*    color: gray;*/
/*    width: 500px;*/
/*    border: 1px solid black;*/
/*}*/

h1{
    color: red;
}

button {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#schedule {
    color: crimson;
}

.main-text {
    color: darkviolet;
    font-family: "Comic Sans MS";
}