p{
    <span style="color:red">Technoblade</span>
    color: gray;
    width: 500px;
    border: 1px solid black;
}

h1{
    color: blue;
}

button {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}